[submodule "link_install/.fonts/ubuntu-mono-powerline-ttf"]
	path = link_install/.fonts/ubuntu-mono-powerline-ttf
	url = git://github.com/pdf/ubuntu-mono-powerline-ttf.git

[submodule "manual_install/gnome-terminal-colors-solarized"]
	path = manual_install/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
