[submodule "extra/gnome-terminal-colors-solarized"]
	path = extra/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "extra/powerline-fonts"]
	path = extra/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
