# ignore ssh
.ssh
lib/.vim/bundle/*
lib/.vim/.vimrc-environment.vim

# Ignore vimtags
tags
TAGS

lib/.config
lib/.vim/plugged
tasks/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.swo
